*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Mulish",sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items :center;
    background-color: rgb(209, 212, 31);
}
form{
    background-color: rgb(107, 126, 189);
    padding: 80px;
    color: white;
}
